

.loginHaderText{
    color: rgb(0, 173, 0) !important;
}


.loginBtn{
    background-color:rgb(0, 173, 0) !important;
    border-color: rgb(0, 173, 0) !important;
    padding:0px 30px 0px 30px !important;
    height: 40px!important;
    width: 100px !important;
}

.registerBtn{
    background-color: rgb(224, 64, 0) !important;
    border-color: rgb(224, 64, 0) !important;
    padding:0px 30px 0px 30px !important;
    height: 40px!important;
    width: 100px !important;
}

.container2{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    animation: fadeIn ease 1s !important;
    -webkit-animation: fadeIn ease 1s !important;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

/* .ant-col-offset-8 {
    margin-left: auto !important;
} */


.ant-form-item-control{
    margin-left: auto !important;
    margin-right: auto !important;
}

@media (max-width: 575px){
    .ant-form .ant-form-item .ant-form-item-label, .ant-form .ant-form-item .ant-form-item-control {
        max-width: 80% !important;
    }
}

@keyframes fadeIn {
0% {opacity:0;}
25% {opacity:0.25;}
50% {opacity:0.5;}
75% {opacity:0.75;}
100% {opacity:1;}
}


@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  25% {opacity:0.25;}
50% {opacity:0.5;}
75% {opacity:0.75;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  25% {opacity:0.25;}
  50% {opacity:0.5;}
  75% {opacity:0.75;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  25% {opacity:0.25;}
  50% {opacity:0.5;}
  75% {opacity:0.75;}
  100% {opacity:1;}
}