.wellcomeImg{
   width: max-content;
   height: 100vh;
   width: 100%;
}

.row{
    display: inline-flex;
    width: 100vw;
}

.container{
    display: flex;
    justify-content: end;
}

.imgContainer{
    flex: 1;
}

.formContainer{
    width: 300px;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .imgContainer{
        display: none;
    }

    .formContainer{
        width: 100%;
    }

    
}

